*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    border: none;
    list-style-type: none;
    
}
#slider{
    background-color:;
    width: 100%;
    height: 475px;

}
#slider .container{
    position: relative;
    width: 100%;
    height: 475px;
}
#slider .n1{
    position: absolute;
    background-image: url("/assets/img/slider_1.webp");
    width: 90%;
    height: 475px;
    background-repeat: no-repeat;
    background-size: contain;
    left: 5%;
}
#slider .n2{
    position: absolute;
    background-image: url("/assets/img/slider_2.webp");
    width: 90%;
    height: 475px;
    background-repeat: no-repeat;
    background-size: contain;
    left: 5%;
}
