*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    border: none;
    list-style-type: none;
    
}
#slider{
    background-color: aqua;
    width: 100%;
    height: 475px;

}
#slider .container{
    position: relative;
    width: 100%;
    height: 475px;
}
#slider .slider1{
    position: absolute;
    background-image: url("/assets/img/slider_1.webp");
    display: block;
    width: 90%;
    height: 475px;
    background-repeat: no-repeat;
    background-size: contain;
    left: 5%;
}
