
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    border: none;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}


#banner{
    position: relative;
    background-color: #ffaeb4;
    width: 100%;
    height: 70px;
}
#banner .top_banner{
    position: absolute;
    background: url("/assets/img/top_banner.png");
    left: 2%;
    right: 2%;
    height: 100%;
    width: 96%;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}
header{
    
}
header .nav{
    background-color:#fff;
    width: 100%;
    height: 152px;
}

header .nav1{
    position: relative;
    background-color: #fff;
    display: flex;
    width: 100%;
    height: 103px;
    padding: 10px 29px;
} 

header .nav1 .img{
    position: relative;
    background-color: #fff;
    display: block;
    text-align: center;
    height: 83px;
    width: 360px;
}
header .img img{
    position: absolute;
    cursor: pointer;
    left: 15px;
    height: 83px;
    width: 248px;
    background-size: contain;
}
header .search{
    position: relative;
    display:flex;
    background-color:#fff;
    height: 36px;
    width: 360px;
    left: 0;
    top: 24px;
    text-align: center;
    line-height: 36px;
    box-sizing: border-box;
}
header .search svg{
    position: relative;
    color: #fff;
    width: 20px;
    height: 20px;
    top:1px;
    right: 2px;
}
header .box{
    position: relative;
    display: block;
    height: 44px;
    width: 720px;
    left: 0;
    top: 19px;
    text-align: center;
}
header .box li{
    float: left;
    display: block;
    height: 44px;
}
header .box>ul a{
    color: #000;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400px;
}
header .box .sup{
    padding-left: 55px;
}
header .box .sup>p
{   
    display: block;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400px;
}
header .box .sup >img{
    position: relative;
    right: 45px;
    bottom: 15px;
    width: 32px;
    height: 32px;
}
header .box .sup >a{
    position: relative;
    bottom: 18px;
    right: 47px;
}
header .box .acc{
    padding-left: 48px;
    padding-right:15px ;
}
header .box .acc>.acc1
{   
    display: inline-block;
    height: 21px;
    line-height: 21px;
    
}
header .box .acc>img{
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    right: 32px;
    bottom: 16px;
}
header .box .acc>.login{
    position: relative;
    display: inline-block;
    bottom:32px;
    font-size: 12px;
    right: 1px;
}
header .box .basket{
    display: block;
    width: 134px;
    height: 44px;
    border: #da677c solid 4px!important;
    border-radius: 4px 4px 4px 4px;
}
header .box .basket img{
    position: relative;
    display: block;
    top:4px;
    height: 32px;
    width: 32px;
    bottom: 30px;
}
header .box .basket .basket1{
    position: relative;
    display: inline-block;
    bottom: 22px;
    left: 3px;
}
header .box .bill a{
    position: relative;
    left: 46px;
    bottom: 36px;
}
header .box .bill a
{   
    display: block;
    margin-top:5px ;
}
header .box .bill img{
    position: relative; 
    width: 32px;
    top: 6px;
    height: 32px;
}
header .box .System{
    position: relative;
    left:100px;
}
header .box .System img{
    position: relative;
    width: 32px;
    height: 32px;
    right: 46px;
    top: 6px;
}
header .box .System a
{   
    position: relative;
    display: block;
    bottom: 30px;
    left: 2px;
}

header .box li .n2:hover{
    color: #ffaeb4;
}
header .nav2{
    position: relative;
    background-color: #e5677d;
    height: 49px;
    width: 100%;
}
header .nav2 li{
    float: left;
    padding-left: 32px;
    display: block;
    height: 49px;
}
header .nav2 a{
    color: #fff;
    text-align: center;
    line-height: 49px;
    display: block;
    height: 49px;
    font-weight: 400px;
    font-size: 14px;
    font-family: sans-serif;
}
header .nav2 .n2{
    color: #fff;
    width:11px; 
    height:13px;
}
header .nav2 .none_menu_z1:hover,
header .nav2 .none_menu_z1:hover .n2{
    color:black;
}
header .nav2 .none-menu .n1{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400px;
    cursor: pointer;
    color: #000;
}
header .nav2 .menu1 .n1:hover{
    background-color:antiquewhite;
}
header .nav2 .none-menu .x:hover .y{
    display: inline-block;
}
header .nav2 .none-menu .makeup_img{
    display: none;
}
header .nav2 .none-menu .x:hover .makeup_img{
    display: block;
}
header .nav2 .menu1{
    position: absolute;
    display:none;
    background-color:#fff;
    width: 200px;
    height: 99px;
}
header .nav2 .menu1 .menu1_hot{
    position: absolute;
    display: inline-block;
    left:0;
    top: 0;
    padding: 0 10px;
}
header .nav2 .menu1 .menu1_mua{
    position: absolute;
    display: inline-block;
    padding: 0 10px;
    padding-right: 93.6px;
    left:0px;
    top: 50px;
    text-align: center;
}
.skincare .z>a,
.makeup .z>a{
    line-height: 40px;  
    color: #000;
    height: 40px;
    display: inline-block;
}
header .nav2 table{
    position: absolute;
    width: 1400px;
    height: 414px;
    background-color: #fff;
    box-sizing: border-box;
    border: none;
    border-collapse: collapse;
    display:none;
    right: 60px;
}
header .nav2 .menu2 table td>a{
    height: 40px;
    color: #000;
    float: left;
    line-height: 40px;
}
header .nav2 .table_z1>a{
    padding-left: 50px;
}
header .nav2 .table_z3,
header .nav2 .table_z4,
header .nav2 .table_z2{
    padding-left: 150px;
}
header .nav2 .menu3 table td>a{
    height: 35px;
    color: #000;
    float: left;
    line-height: 35px;
}
