.new-password-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.new-password{
    display: flex;
    justify-content: center;
}
.new-password-text h3 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 45px 0 20px 0;
    font-family: sans-serif;
}
.new-password-text p {
    margin: 25px 0 20px 0;
    font-family: sans-serif;
}

.new-password-label {
    font-size: 14px;
    font-weight: bold;
}

.new-password-input {
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    padding: 0px 20px;
    width: 580px;
    height: 40px;
    margin: 20px 0;
    font-family: sans-serif;
    font-size: 14px;
}

.new-password-input:focus {
    outline: none;
}

.required {
    color: red;
}
.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
#submitButton  {
    font-size: 20px;
    box-sizing: border-box;
    border-style: hidden;
    background-color: #d82e4d;
    border-radius: 999px;
    height: 45px;
    width: 300px;
    color: white;
}
.new-password {
    margin-bottom: 90px;
}
.cancel{
    margin-left: 100px;
    font-size: 18px;
}
.cancel:link{
    color: rgb(167, 163, 163);
}
.cancel:hover{
    color: #d82e4d;
    text-decoration: none;
}

.container {
    margin-bottom: 90px;
}

@media screen and (max-width: 739px) {
    .new-password-container {
        display: block;
        padding: 10px;
    }

    #submitButton {
        width: 200px
    }

}